.calendar {
    width: 100%;
    border-collapse: collapse;
}

.calendar tbody tr:first-child th {
    color: #000;
	background: #FFF;
	text-align:center;
}

.calendar tbody tr th {
	padding:10px;
	background: #f9f9f9;
}
td ul.sortable {
	display:block;
	height:100px !important;
	overflow-y:auto;
}
.calendar tbody tr th a:hover {
	border:0;
}

.day_header {
    font-weight: normal;
    text-align:center !important;
    color: #757575;
}

.calendar td {
    width: 14%; /* Force all cells to be about the same width regardless of content */
    height: 100px;
    vertical-align:top !important;
}

.calendar td:hover {
    background: #F9F9F9;
}

.calendar a { color: #FFF; }
.calendar a:hover { color: #FFF; text-decoration:none; }

.day_listing {
	display:block;
	font-weight:bold;
	text-align:right;
}

.today .day_listing { color: #F00; }

